:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #f6f7f9;
  overflow: hidden;
}
.flex-column {
  position: absolute;
  width: 1008px;
  height: 1264px;
  top: 48px;
  left: 384px;
  z-index: 75;
}
.input-large {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: relative;
  width: 1008px;
  margin: 0 0 0 0;
  overflow: hidden;
}
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 64px;
  padding: 0 16px 0 16px;
  background: #fcfcfd;
  border: 1px solid #bdc8d3;
  z-index: 1;
  border-radius: 4px;
}
.left {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 8px;
  position: relative;
  z-index: 2;
}
.left-icon {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 3;
}
.vector {
  position: relative;
  width: 26.028px;
  height: 26.028px;
  margin: 2.972px 0 0 2.972px;
  background: url(../assets/images/c9a25dd6-cd97-4336-92d0-a3c4a494520f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 4;
}
.input-text {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 5;
  overflow: hidden;
}
.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 52px;
  z-index: 6;
}
.action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 52px;
  height: 20px;
  color: #843ac5;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  white-space: nowrap;
  z-index: 7;
}
.input {
  flex-shrink: 0;
  position: absolute;
  width: 1008px;
  height: 64px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 8;
  outline: none;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
  width: 1008px;
  margin: 72px 0 0 0;
  z-index: 75;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 1008px;
  z-index: 76;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 320px;
  height: 360px;
  padding: 16px 16px 16px 16px;
  background: #fcfcfd;
  z-index: 77;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
.image {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 176px;
  background: url(../assets/images/7f6daa1e-8a8f-4d49-a3ac-02707b6ad083.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 288px;
  z-index: 79;
}
.peugeot-cc-coupe-cabriolet {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 48px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 80;
}
.usd {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.frame-2 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 82;
}
.checkbox {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 83;
}
.right-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 84;
}
.vector-3 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 4px;
  background: url(../assets/images/68f3fc29-2ed5-48a0-be7e-0ce1baaeb453.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 85;
}
.comparar {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 86;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 320px;
  height: 360px;
  padding: 16px 16px 16px 16px;
  background: #fcfcfd;
  z-index: 87;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
.image-5 {
  flex-shrink: 0;
  position: relative;
  width: 299px;
  height: 168px;
  background: url(../assets/images/556cb1c81951472ad52db44aec52ce9ca62a2fa9.png)
    no-repeat center;
  background-size: cover;
  z-index: 88;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 288px;
  z-index: 89;
}
.peugeot-t-active {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 48px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-overflow: ellipsis;
  z-index: 90;
  overflow: hidden;
}
.usd-7 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 91;
}
.frame-8 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 92;
}
.checkbox-9 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 93;
}
.right-icon-a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 94;
}
.vector-b {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 4px;
  background: url(../assets/images/45737dbe-441f-41e2-8d3a-e976f915ea49.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 95;
}
.comparar-c {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.frame-d {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 320px;
  height: 360px;
  padding: 16px 16px 16px 16px;
  background: #fcfcfd;
  z-index: 97;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
.image-e {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 168px;
  background: url(../assets/images/bddadc3aae31134a5073882992e40c518b7fda3c.png)
    no-repeat center;
  background-size: cover;
  z-index: 98;
}
.frame-f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 288px;
  z-index: 99;
}
.peugeot-road-trip {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 48px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 100;
}
.us-price {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 101;
}
.frame-10 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 102;
}
.checkbox-11 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 103;
}
.right-icon-12 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 104;
}
.vector-13 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 4px;
  background: url(../assets/images/a95c5159-d21c-4703-8edd-e82bb755d8a8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 105;
}
.comparar-14 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 106;
}
.row-15 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 1008px;
  z-index: 107;
}
.frame-16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 320px;
  height: 360px;
  padding: 16px 16px 16px 16px;
  background: #fcfcfd;
  z-index: 108;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
.image-17 {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 168px;
  background: url(../assets/images/44c79d8164a3035d9c2859288d96b9756a08dd3a.png)
    no-repeat center;
  background-size: cover;
  z-index: 109;
}
.frame-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 288px;
  z-index: 110;
}
.peugeot-cc-coupe-cabriolet-19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 48px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 111;
}
.us-price-1a {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 112;
}
.frame-1b {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 113;
}
.checkbox-1c {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 114;
}
.right-icon-1d {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 115;
}
.vector-1e {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 4px;
  background: url(../assets/images/b88bd817-4f71-4241-8be6-8bd39b350820.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 116;
}
.comparar-1f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 117;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 320px;
  height: 360px;
  padding: 16px 16px 16px 16px;
  background: #fcfcfd;
  z-index: 118;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
.image-21 {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 168px;
  background: url(../assets/images/6decf3579f7a51d673b8104f2db9e426239b8e2d.png)
    no-repeat center;
  background-size: cover;
  z-index: 119;
}
.frame-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 288px;
  z-index: 120;
}
.peugeot-cc-coupe-cabriolet-23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 48px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 121;
}
.us-price-24 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 122;
}
.frame-25 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 123;
}
.checkbox-26 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 124;
}
.right-icon-27 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 125;
}
.vector-28 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 4px;
  background: url(../assets/images/f49ecd20-57ae-44c8-9a66-d1d2253c3f04.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 126;
}
.comparar-29 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 127;
}
.frame-2a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 320px;
  height: 360px;
  padding: 16px 16px 16px 16px;
  background: #fcfcfd;
  z-index: 128;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
.image-2b {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 168px;
  background: url(../assets/images/34074d93f882176bdcfac45c9d944e17da1cff3c.png)
    no-repeat center;
  background-size: cover;
  z-index: 129;
}
.frame-2c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 288px;
  z-index: 130;
}
.peugeot-cc-coupe-cabriolet-2d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 48px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 131;
}
.us-price-2e {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 132;
}
.frame-2f {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 133;
}
.checkbox-30 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 134;
}
.right-icon-31 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 135;
}
.vector-32 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 4px;
  background: url(../assets/images/aa51290b-34dc-4fdb-90f2-23b712d0c43c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 136;
}
.compare {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 137;
}
.row-33 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 1008px;
  z-index: 138;
}
.frame-34 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 320px;
  height: 360px;
  padding: 16px 16px 16px 16px;
  background: #fcfcfd;
  z-index: 139;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
.image-35 {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 168px;
  background: url(../assets/images/44c79d8164a3035d9c2859288d96b9756a08dd3a.png)
    no-repeat center;
  background-size: cover;
  z-index: 140;
}
.frame-36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 288px;
  z-index: 141;
}
.peugeot-cc-coupe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 48px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 142;
}
.usd-37 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 143;
}
.frame-38 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 144;
}
.checkbox-39 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 145;
}
.right-icon-3a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 146;
}
.vector-3b {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 4px;
  background: url(../assets/images/cae7a89b-d481-47c8-9e14-d02b25d95363.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 147;
}
.compare-3c {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 148;
}
.frame-3d {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 320px;
  height: 360px;
  padding: 16px 16px 16px 16px;
  background: #fcfcfd;
  z-index: 149;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
.image-3e {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 168px;
  background: url(../assets/images/6decf3579f7a51d673b8104f2db9e426239b8e2d.png)
    no-repeat center;
  background-size: cover;
  z-index: 150;
}
.frame-3f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 288px;
  z-index: 151;
}
.peugeot-cc-coupe-40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 48px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 152;
}
.usd-41 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 153;
}
.frame-42 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 154;
}
.checkbox-43 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 155;
}
.right-icon-44 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 156;
}
.vector-45 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 4px;
  background: url(../assets/images/0b642bb3-fe0f-4746-b508-a6aa7339307e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 157;
}
.compare-46 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 158;
}
.frame-47 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 320px;
  height: 360px;
  padding: 16px 16px 16px 16px;
  background: #fcfcfd;
  z-index: 159;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
.image-48 {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 168px;
  background: url(../assets/images/34074d93f882176bdcfac45c9d944e17da1cff3c.png)
    no-repeat center;
  background-size: cover;
  z-index: 160;
}
.frame-49 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 288px;
  z-index: 161;
}
.peugeot-cc-coupe-4a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 288px;
  height: 48px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 162;
}
.usd-4b {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 163;
}
.frame-4c {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 164;
}
.checkbox-4d {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 165;
}
.right-icon-4e {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 166;
}
.vector-4f {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 4px;
  background: url(../assets/images/4ae940b0-3dd0-4cda-bba4-e408cec25209.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 167;
}
.compare-50 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 168;
}
.flex-column-c {
  position: absolute;
  width: 273px;
  height: 922px;
  top: 70px;
  left: 47px;
  z-index: 171;
}
.frame-51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 32px;
  position: relative;
  width: 272px;
  margin: 118px 0 0 1px;
  z-index: 9;
}
.frame-52 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  z-index: 10;
}
.filters {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.frame-53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  z-index: 12;
}
.price-usd {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.frame-54 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 14;
}
.hasta-10000 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.count-163 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.frame-55 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 17;
}
.entre-10000-15000 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.count-85 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.frame-56 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 20;
}
.mas-de-15000 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.count-92 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.frame-57 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  z-index: 23;
}
.input-regular {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 4px;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 24;
}
.input-group-58 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 48px;
  padding: 0 16px 0 16px;
  background: #fbfcfc;
  border: 1px solid #bdc8d3;
  z-index: 25;
  border-radius: 4px;
}
.left-59 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 8px;
  position: relative;
  z-index: 26;
}
.input-text-5a {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4c5b;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 27;
  overflow: hidden;
}
.input-regular-5b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 4px;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 28;
}
.input-group-5c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  height: 48px;
  padding: 0 16px 0 16px;
  background: #fbfcfc;
  border: 1px solid #bdc8d3;
  z-index: 29;
  border-radius: 4px;
}
.left-5d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 8px;
  position: relative;
  z-index: 30;
}
.input-text-5e {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4c5b;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 31;
  overflow: hidden;
}
.button-wide-regular {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 48px;
  height: 48px;
  padding: 14px 32px 14px 32px;
  background: #fcfcfd;
  border: 1px solid #843ac5;
  z-index: 32;
  border-radius: 4px;
}
.icon-caret-right {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 33;
}
.vector-5f {
  position: relative;
  width: 9.001px;
  height: 16.501px;
  margin: 3.75px 0 0 8.25px;
  background: url(../assets/images/4b19b0a0-7d2f-426e-9cac-f48b8bb4ad46.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
}
.frame-60 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 127px;
  z-index: 35;
}
.versiones {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.frame-61 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 37;
}
.feline {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.count-163-62 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.frame-63 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 40;
}
.allure {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.count-85-64 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.frame-65 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 43;
}
.active {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.active-number {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.frame-66 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 46;
}
.gt {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.gt-number {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.frame-67 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 49;
}
.allure-pack {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}
.allure-pack-number {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.frame-68 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 52;
}
.feline-69 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.feline-number {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.frame-6a {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 55;
}
.allure-6b {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.allure-number {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 57;
}
.frame-6c {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 58;
}
.active-6d {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 59;
}
.active-number-6e {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.frame-6f {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 61;
}
.gt-70 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.gt-number-71 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.frame-72 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 212px;
  z-index: 64;
}
.transmision {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 65;
}
.frame-73 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 66;
}
.manual {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 67;
}
.manual-number {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}
.frame-74 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 69;
}
.automatica {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 70;
}
.automatica-number {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}
.frame-75 {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 72;
}
.automatica-seciuencial {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #151a1f;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.automatica-seciuencial-number {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #3d4d5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 74;
}
.comparan {
  position: absolute;
  width: 219.503px;
  height: 28.005px;
  top: 0;
  left: 0;
  background: url(../assets/images/f130870c-a67d-49de-bf4a-25e00822e324.png)
    no-repeat center;
  background-size: cover;
  z-index: 170;
}
.go {
  position: absolute;
  width: 52.898px;
  height: 28.085px;
  top: 0.06px;
  left: 220.102px;
  background: url(../assets/images/001f1613-363a-4fac-ade9-b8b9c95c1b57.png)
    no-repeat center;
  background-size: cover;
  z-index: 171;
}
